<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- 下二行追加 ---->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <title>ログイン画面</title>
    <link rel="stylesheet" href="../static/login.css">
    <script src="../static/index.js"></script>
  </head>

  <body>
    <div class="form-wrapper">
      <h1>ログイン</h1>
     <!-- りつ：コメントアウト<h1><a href="/list">BLOG</a></h1> -->
        <div class="panel">
          <form action="/login" method="post">
            <!-- Username -->
            <!-- <div class="form-item">
              <input type="text" name="username" placeholder="ユーザーネーム">
            </div>
             -->
            <!-- Email -->
             <div class="form-item"> 
                 <input type="text" name = "email" placeholder="メールアドレス" >
             </div>

             <!-- password -->
             <div class="form-item"> 
                 <input type="password" name="password" placeholder="パスワード">
              </div>



              <div class="button-panel">
                <input type="submit" class="button" value="ログイン"></input>
              </div>
            
          
          
          </form>
        </div>
      
      </div>


  </body>
</html>
