<!DOCTYPE html>
  <html>
    <head>
  
      <!-- りつ：下挿入 ---->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../static/new.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700&display=swap" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <script defer src="../static/ahowComments.js"></script>
  
      <title>はじめに</title>
    </head>

    <style>
      .fakeimg {
        height: 400px;
        width: 700px;
        background:rgb(248, 248, 248);
        border-radius: 20px;
        margin: 0 auto;
      }
      </style>
    
    <body>
  
      <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <!-- ブランドロゴ -->
        <div class="container-fluid">
           <span class="navbar-brand mb-0 h1" href="../問題/index.html" >ASYNC</span>
           <p><%= username %>さん</p>
            
        </div>
     </nav>
      
    
      <div class="p-5 bg-white text-white text-center">
      </div>
  
        <!-- りつ：div class="board" 消した-->
        <!-- りつ：class入れた -->
        <div class ="container mt-4">
          
            <!-- 背景部分 -->
            <div class="new">
              <h2>はじめに</h2>
              <h4><span>「jadge0 APIキー」</span>をお持ちですか？</h4>
              <h5>お持ちの方は、はじめるボタンをタップ！</h5>

              <form action="/question" method="GET">
                <div class="d-grid">
                    <input type="submit" value="はじめる" class="btn btn-secondary">
                </div>
            </form>            

                <h5>お持ちでない方は<a href="https://judge0.com/">こちら</a>をタップ！</h5>
               <h5>（タップ後、judge0のページに飛びます。）</h5>
          
        </div>
  
           
         
  
        </div>
  
  </body>
  </html>




