<!DOCTYPE html>
<html>
  <head>

    <!-- りつ：下挿入 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/new.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="../static/ahowComments.js"></script>

    <title>コメント画面</title>
  </head>
  
  
  <body>

    <nav class="navbar bg-light">
      <!-- ブランドロゴ -->
     <div class="container-fluid">
        <span class="navbar-brand" href="ここ入れる" >PRODUCTNAME</span>
   
         <!-- アイコン部分（入ってないけど） -->
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
      
         <!--ハンバーガーメニュー  改善：右の四角もう少し大きく-->
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
           <div class="navbar-nav ms-auto">
             <a class="nav-link active" aria-current="page" href="../問題/index.html">Home</a>
             <a class="nav-link" href="../問題/index.html">問題画面</a>
             <a class="nav-link" href="タイムライン.html">タイムライン</a>
           </div>
         </diV>
       </div>
    </nav>
    
  
    <div class="p-5 bg-white text-white text-center">
    </div>

      <!-- りつ：div class="board" 消した-->
      <!-- りつ：class入れた -->
      <div class ="container mt-3">
        <h2>コメント</h2>

        <form action="/create" method="post" class="commentForm">
          <div class="form-group">
            <textarea type="text" name="question"  rows ="10" id="nameInput" class="form-control"></textarea>
          </div>


          <!-- りつ：div class名を"form-group"から下記に変更 -->
          <div class="d-grid gap-2">
            <input type="submit" value="書き込む"  class="btn btn-secondary">
          </div>

        </form>

      </div>
     


      <div id="comment-show"></div>

    

  <!-- bootstrap -->
 


</body>
</html>
