<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <!-- CSSが反映されない、、 -->
    <link rel="stylesheet" href="../static/start.css">
    
</head>
<body>
        <header class="header">
            <h1>
                <a href="/"> PRODUCT_NAME</a>
            </h1>

            <nav class="menu">
             <ul>
                <li>
                  <a href="#">SignUp</a>
                </li>
                <li>
                <a href="" class="btn btn-svg">
                    <svg>
                      <rect x="2" y="2" rx="0" fill="none" width=200 height="50"></rect>
                    </svg>
                    <span>Login</span>
                  </a>
                </li>
             </ul>
            </nav>
        </header>
        



</body>
</html>