<form action="/update" method="post" class="commentForm">
    <div class="form-group">
      <label for="nameInput">問題</label>
      <input type="text" name="question"  id="nameInput" class="form-control">
    </div>
    <div class="form-group">
      <label for="commentInput">解答</label>
      <textarea type="text" name="answer" id="commentInput" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <input type="submit" value="更新" class="btn btn-primary">
    </div>
  </form>
