/* ブランドの色とフォントサイズ変わらん */


/* タイトルとハンバーガーメニュー全体にかかる */
.container-fluid{
    font-family: 'BIZ UDPGothic', sans-serif;
} 




/* ブランド*/
.navbar > .container-fluid > .navbar-brand{
   color: rgb(2, 70, 200);
   font-size: 24px;
}
/* ハンバーガーメニューのリンク真ん中に/ 問題：リンクの色を薄くしたいが反映されない */
.nav-link{
    text-align: center; 
}

/* ナビばーのリンクの色指定できない？？ */
/* .navbar > .container-fluid > .nav-link{
    color:rgb(2, 70, 200);
} */

/* ナブバーの部分 */
.nav-tabs > .nav-item > .nav-link{
    font-family: 'BIZ UDPGothic', sans-serif;
    font-size: 20px;
}

.nav-tabs > .nav-item > .nav-link span{
    font-family: 'BIZ UDPGothic', sans-serif;
    font-size: 20px;
    color: rgb(246, 170, 0);
}


/* 問題のイメージ部分 */
.col-sm-4{
    margin-bottom: 30px;
}

/* 改善：トライのボタン位置と色*/

.container mt-5 > .row > .col-sm-4 > .d-grid gap-2 >input {
  background-color: beige;
}

h3{ 
    color: rgb(100, 100, 100);
}

table{
   border: 2px solid black;
   border-radius: 15px;
}

.form-item {
    text-align: center;
}

.question > ul{
    text-align: center;
    list-style-type:none;
}

.question >li{
    list-style-type:none;
    border: 2px solid rgb(197, 193, 193);
    border-radius: 15px;
}

.question{
    border: 2px solid rgb(197, 193, 193);
    border-radius: 15px;
    margin-top: 40px;
}

* {
    box-sizing: border-box;
  }
  
  
  h1 {
    margin: 80px 0;
    font-size: 40px;
    text-align: center;
  }
  
  
  
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  
  .sticky-container {
    height: auto;
    width: 100%;
  }
  
  .sticky-item {
    background: rgba(255, 255, 255, .4);
    border: 6px solid #ffbb1e;
    font-size: 20px;
    margin: 40px 0;
    padding: 24px 0 24px 16px;
    width: 100%;
  }
  .container section:nth-child(2n) .sticky-item {
    border: 6px solid red;
  
  }
  p {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.5;
    color: #aaa;
  }