/* 問題画面全体 */
.container-fluid{
    font-family: 'BIZ UDPGothic', sans-serif;
    background-color: #ffffff;
}

/* 問題画面 */
.row {
    font-family: 'BIZ UDPGothic', sans-serif;
}

/* 配置変更が反映されない。なんか親要素かかっている？？？？、、 */
.container mt-3{
 margin-bottom: 20px;
}

.col-sm-4{
    font-weight: Regular 400;
}

h2 {
        color:rgb(125, 125, 125);
    font-family: 'BIZ UDPGothic', sans-serif;
}
