/* タイムライン画面全体 */
.container-fluid{
    font-family: 'BIZ UDPGothic', sans-serif;
}

/* ブランド*/
.navbar > .container-fluid > .navbar-brand{
    color: rgb(2, 70, 200);
    font-size: 24px;
 }
 /* ハンバーガーメニューのリンク真ん中に/ 問題：リンクの色を薄くしたいが反映されない */
 .nav-link{
     text-align: center; 
 }
 
 
 /* ハンバーグバーのリンクの色指定できない？？ */
 /* .navbar > .container-fluid > .nav-link{
     color:rgb(2, 70, 200);
 } */
 
h2{
    font-family: 'BIZ UDPGothic', sans-serif; 
}

/* 改善：ボタンを押すと全部消えるのなおす */
.d-grid > .btn{
    background-color: rgb(255, 223, 153);
    font-family: 'BIZ UDPGothic', sans-serif;
    color: rgb(80, 80, 80);
    border: 2px solid rgb(255, 174, 0);
    margin-top: 30px;
 }